<div class="container-fluid">
    
    <div class="pagetitle"><br>
      <h4 class="">Mantenimientos Periódicos</h4>
    </div>
    <div class="container-fluid">
        <ul class="nav nav-tabs">
      <a href="{% url 'mantenimientos_periodicos' %}" type="" class="btn">Programados</a><br> 
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="#" role="button" 
                 aria-haspopup="true" aria-expanded="false">Realizados</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'mantenimientos_buzos_realizados' %}">Lavados de buzos</a>
                <a class="dropdown-item" href="{% url 'mantenimientos_celdas_realizados' %}">Lavados de celdas</a>
                <a class="dropdown-item" href="{% url 'mantenimientos_test_realizados' %}">Test de diagnóstico</a>
                <a class="dropdown-item" href="{% url 'mantenimientos_preventivo_realizado' %}">Mantenimientos preventivos</a>
                <a class="dropdown-item" href="{% url 'calificaciones_realizadas' %}">Calificaciones</a>
            </li>
          </ul>
    </div>
  </div>
   <!--Script para barra de búsqueda-->
   <script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>
    <!--Script para barra de búsqueda-->

      <!-- Datatable-->
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
 
      <script src="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.0.3/b-3.0.1/b-html5-3.0.1/date-1.5.2/sl-2.0.0/datatables.min.js"></script>
      
      <!-- Datatable-->
      <link href="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.0.3/b-3.0.1/b-html5-3.0.1/date-1.5.2/sl-2.0.0/datatables.min.css" rel="stylesheet">
 