{% load static %}

<link rel="stylesheet" href="{% static 'css/secuencias/modales/modalCrearSecuenciaProtocoloProceso.css' %}">

<div class="modal fade" id="crearSecuenciaModalProceso" tabindex="-1" aria-labelledby="crearSecuenciaModalLabel" aria-hidden="true">
  <!-- Aquí agregamos modal-dialog-centered para centrar verticalmente -->
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <form id="myFormCreacionProtocoloProceso">
        {% csrf_token %}
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title" id="modalProcesoTitulo"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>

        <div class="modal-body">
          <!-- Campos ocultos -->
          <input type="text" name="fecha_configuracion_protocolo_proceso" value="0001-01-01" hidden>
          {% now "Y-m-d G:i:s" as today_str %}
          <input type="text" name="fecha_configuracion_protocolo_metodo" value="{{ today_str }}" hidden>

          <!-- Nombre y Fecha en la misma fila -->
          <div class="form-row">
            <div class="mb-3">
              <label class="form-label">Nombre</label>
              <input type="text" name="nombre" class="form-control" required>
            </div>

            <div class="mb-3">
              <label class="form-label">Fecha de Inicio</label>
              <input type="datetime-local" name="fecha_Inicio" class="form-control" required>
            </div>
          </div>

          <!-- Sistema y Protocolo en la misma fila -->
          <div class="form-row">
            <div class="mb-3">
              <label class="form-label">Sistema</label>
              <select name="sistema" id="sistemaPr" required>
                <option value="">Seleccione...</option>
                {% for item in sistema %}
                {% if item.condicion == "Activo"  %}
                <option value="{{item.id}}">{{item}}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>

            <div class="mb-3">
              <label class="form-label">Protocolo de Proceso</label>
              <select name="protocolo_proceso" id="protocoloPr" required>
                <option value="">Seleccione...</option>
        {% for item in protocolo_proceso.all %} 
        {% if item.estado_del_proceso.id == 1 and item.condicion == "Activo"  %}
        <option value="{{item.id}}">{{item}}</option>
        {% endif %}
    
        {% endfor %}
              </select>
            </div>
          </div>

          <!-- Muestras -->
          <div class="mb-3">
            <label class="form-label">Muestras</label>
            <select name="muestras" id="muestrasPr" multiple required>
              <option value="">Seleccione...</option>
             <!--
              {% for item in muestras.all %}
              <option value="{{item.id}}">{{item.nombre_muestra}} {{item.lote_muestra}} {{item.etapa}} {{item.codigo_muestra_producto}}</option>
            {% endfor %} 
             -->
            </select>
          </div>

          <!-- Observaciones -->
          <div class="mb-3">
            <label class="form-label">Observaciones</label>
            <textarea name="observaciones" class="form-control" rows="3" required></textarea>
          </div>
        </div>

        <div class="modal-footer">
          <!-- Botón Guardar arriba -->
          <button type="submit" id="btnGuardarSecuencia" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Tom Select CSS -->
<link href="https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.css" rel="stylesheet">
<!-- Tom Select JS -->
<script src="https://cdn.jsdelivr.net/npm/tom-select/dist/js/tom-select.complete.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/plugins.css">

<!--Crear secuenia de Proceso-->
<script src="{% static 'js/secuencias/modalAcciones/creacionSecuenciaProtocoloProceso.js' %}" ></script>

<!--Editar secuenia de Proceso-->
<script src="{% static 'js/secuencias/modalAcciones/edicionSecuenciaProtocoloProceso.js' %}" ></script>

<!--Agregar Secuencia Muestras-->
<script src="{% static 'js/secuencias/modalAcciones/agregarMuestrasProtocoloProceso.js' %}" ></script>

