{% extends "partial/body.html" %}

{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block contenido %}
{% load bootstrap5 %}



<br>
<div class="container" style="margin-top: 10; width: 55%;">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Nuevo Registro</h1>
        </div>
        <div class="card-body">
            <form action="" method="POST">
                {% csrf_token %}
      
              {% bootstrap_form form layout="" %}
              <div class=""><input type="submit" name="form-crear" value="Guardar" class="btn btn-primary btn-block" id="submit-id-submit" /></div>
            </form>  
        </div>
    </div>

</div>
{% endblock contenido %}


